<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs파일(list)</title>
    <link rel="stylesheet" href="/list.css">
</head>

<body class="grey-bg">
    <h5>
        <%=시간%>
    </h5>
</body>

</html>